.gp-bg{
    background-color: #083b4c;
}

.gp-title{
    font-size: 60px;
}

.gp-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 6px;
    background-color: #1389b2;
    color: white;
}

